[buildout]
parts =
    instance
    zopepy

extends = 
    http://dist.plone.org/release/4.2-latest/versions.cfg

find-links =
    http://dist.plone.org/release/4.2-latest
    http://dist.plone.org/thirdparty

extensions =
    mr.developer
    buildout.dumppickedversions

sources = sources
versions = versions
auto-checkout = *
develop =

[sources]
restarter.policy = git git@github.com:RedTurtle/restarter.policy.git
#plonesocial.auth.rpx = git git@github.com:RedTurtle/plonesocial.auth.rpx.git

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
blob-storage = var/blobstorage
eggs =
    Plone
    Pillow
    z3c.jbot
    eea.facetednavigation
    collective.disqus
    sc.social.like
    collective.contentleadimage
    Products.PloneKeywordManager
    restarter.policy
#    plonesocial.auth.rpx
#    ftw.keywordoverlay
#    collective.ajaxkeywords
zcml =
    z3c.jbot
    eea.facetednavigation-meta
    eea.facetednavigation-overrides
    eea.facetednavigation
environment-vars = zope_i18n_compile_mo_files true

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = 
    zopepy
